// import a font family here

.section-header-vert {
    z-index: -100;
    position: absolute;
    top: 97% !important;
    opacity: 0.3;
    writing-mode: vertical-rl;
    text-orientation: upright;
    color: '#304153' !important;
}

.section-header-horizontal {
    z-index: -100;
    position: absolute;
    top: 97.5% !important;
    margin-left: 270px !important;
    opacity: 0.3;
    color: '#304153' !important;
}

.section-header-vert-blogs {
    z-index: -100;
    position: absolute;
    writing-mode: vertical-rl;
    margin-top: -23% !important;
    text-orientation: upright;
    opacity: 0.3;
    color: '#304153' !important;
}

.section-header-horizontal-blogs {
    z-index: -100;
    position: absolute;
    margin-top: -22.5% !important;
    margin-left: 21% !important;
    opacity: 0.3;
    color: '#304153' !important;
}