// import a font family here

.section-header {
  font-size: 20rem !important;
  z-index: -100;
  position: absolute;
  margin-top: -3% !important;
  opacity: 0.3;
  // transform: translateX(100%);
}

.section-header-blog {
  z-index: 0 !important;
  margin-top:15% !important;
}