// import a font family here

.section-header {
  font-size: 25rem !important;
  z-index: -100;
  position: absolute;
  margin-top: -10% !important;
  opacity: 0.3;
}

.section-header-blog {
  z-index: 0;
  margin-top: 0 !important;
//   opacity: 0.3;

}