@import './partials/Fonts';
@import './partials/Scrollbar';
@import './partials/ArrowBounce';

body {
    background-color: rgba(222,222,222,1) ;
}

* {
    scrollbar-width: thin;
    scrollbar-color: rgb(70,183,255) #F2F3F5
}

.svg {
  z-index: 9;
  position: relative;
}






